
    <ion-header>
      <ion-toolbar>
        <ion-title>Mi App Híbrida</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bienvenido a Ionic</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Esta es mi primera app Híbrida construida en Ionic
        </ion-card-content>
        <ion-button expand="block" color="primary" (click)="mostrarMensaje()">Empecemos</ion-button>
      </ion-card>
    </ion-content>

