<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="glam-background ion-padding">
  
  <div class="separator">
    <span>MI GALERÍA GLAM</span>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let photo of photoService.photos" class="photo-container">
        <ion-img [src]="photo.webviewPath" class="gallery-img"></ion-img>
        
        <ion-button fill="clear" class="add-to-cart-btn" (click)="addToCart(photo)">
          <ion-icon name="add-circle" color="gold"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button class="btn-gold-solid" (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="openCart()">
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="danger" *ngIf="cartCount > 0">{{ cartCount }}</ion-badge>
    </ion-fab-button>
  </ion-fab>

</ion-content>