<ion-content class="glam-background ion-padding ion-text-center">
  
  <div class="login-header">
    <div class="logo-circle">
      <ion-icon name="sparkles-outline"></ion-icon>
    </div>
    <h1 class="glam-title">Glam Spirit MakeUp</h1>
    <p class="glam-subtitle">Crea tu cuenta y disfruta de las mejores promociones para tu maquillaje.</p>
  </div>

  <div *ngIf="userProfile" class="profile-badge ion-padding">
    <ion-chip color="gold">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Bienvenida, {{ userProfile.name }}</ion-label>
    </ion-chip>
  </div>

  <div class="auth-form">
    <ion-item lines="full" class="glam-item">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        type="email" 
        placeholder="nombre@glam.com" 
        [(ngModel)]="userEmail">
      </ion-input>
    </ion-item>

    <ion-item lines="full" class="glam-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" 
        placeholder="********" 
        [(ngModel)]="userPass">
      </ion-input>
    </ion-item>

    <ion-button 
      expand="block" 
      class="btn-gold-solid" 
      (click)="handleEmailAuth()"
      [disabled]="!userEmail || !userPass">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      REGISTRARSE CON EMAIL
    </ion-button>
  </div>

  <div class="separator">
    <span>O ÚNETE CON</span>
  </div>

  <div class="social-auth">
    <ion-button expand="block" fill="outline" class="btn-gold-outline" (click)="handleGoogleAuth()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Google
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn-gold-outline" (click)="handleFacebookAuth()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Facebook
    </ion-button>
  </div>

  <div class="gallery-container ion-margin-top">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="photoService.addNewToGallery()" color="gold">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

</ion-content>